@keyframes slideGradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.neon-gradient-card::before,
.neon-gradient-card::after {
    will-change: background-position;
    content: '';
    position: absolute;
    top: calc(-1 * var(--border-size));
    left: calc(-1 * var(--border-size));
    right: calc(-1 * var(--border-size));
    bottom: calc(-1 * var(--border-size));
    background: linear-gradient(0deg, var(--neon-first-color), var(--neon-second-color), var(--neon-first-color));
    border-radius: var(--border-radius);
    z-index: -1;
    background-size: 200% 200%; /* Adjusted for smoother transitions */
    animation: slideGradient 5s ease infinite; /* Adjusted timing and easing */
}

.neon-gradient-card::after {
    z-index: -2;
    filter: blur(var(--after-blur));
    opacity: 0.8;
    background-size: 200% 200%; /* Match with before element */
}
