.neon-gradient-card {
    --gradient-y: 0%;
    animation: slide-gradient 3s linear infinite;
}

@property --gradient-y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@keyframes slide-gradient {
    to {
        --gradient-y: 100%;
    }
}

.neon-gradient-card::before {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--border-size));
    background: linear-gradient(0deg,
            var(--neon-first-color) 0%,
            var(--neon-second-color) 50%,
            var(--neon-first-color) 100%);
    background-size: 100% 200%;
    background-position: 0 var(--gradient-y);
    border-radius: var(--border-radius);
    z-index: -1;
}

.neon-gradient-card::after {
    content: '';
    position: absolute;
    inset: calc(-1 * var(--border-size));
    background: linear-gradient(0deg,
            var(--neon-first-color) 0%,
            var(--neon-second-color) 50%,
            var(--neon-first-color) 100%);
    background-size: 100% 200%;
    background-position: 0 var(--gradient-y);
    border-radius: var(--border-radius);
    z-index: -2;
    filter: blur(var(--after-blur));
    opacity: 0.8;
}